/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.number {
	width: 40px !important;
    height: 40px !important;
    text-align: center;
    margin-top: 10px;
}
.card .card-content {
    padding: 0px !important; 
}

.pinned>.card.maincard {
    background-color: #0f5f76 !important;
    height: 240px !important;
}

.card.small {
    height:auto !important;
}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.promo-collection>img {
    width: 100%;
    padding: 2%;
    height: 140px;
}
.promoHolder-home.collection{border: 0px solid #f9f9f9; !important}
.serviceListHolder.collection.popup-gallery{border: 0px solid #f9f9f9; !important}
.card .card-reveal {
       padding: 20px;
    position: absolute;
    background-color: rgba(243, 243, 243, 0.88) !important;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
.btn:hover, .btn-large:hover {
    background-color: #0f5f76 !important;
}
.collapsible-body p {
    margin: 0;
    padding: 2px !important;
}
.collapsible {
    border-top: 0px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0rem 0 0rem 0 !important;
/*     width: 98% !important; */
    text-align: -webkit-auto !important;
}
.collapsible {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0) !important;
}
.collapsible-body.merchproducts.collection.popup-gallery{
	    border-bottom: 1px solid rgb(221, 221, 221) !important;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 40;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 44px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px 0.5px 0px rgba(150, 150, 150, 1);
  color:#0f5f76;
}

i { cursor : pointer; }

.input-field label {
    color: #000000 !important;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
.btn-bar{
	    display: block;
    float: left;
   
    right: -59px;
    margin-top: -65% !important;
    width: 100%;
    height: 55px;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: -webkit-inline-box !important;
    font-size: 25px !important;
}
.delivery{
	    height: 52px !important;
    font-size: 16px !important;
    position: fixed;
    right: 33px !important;
    bottom: 53px !important;
    padding-top: 10px !important;
    /* margin-bottom: 0; */
    z-index: 998;
        width: 180px;
}
.burst-12 {
/*     background: red; */
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
}
.burst-12:before, #burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
/*     background: red; */
}
.burst-12:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
.burst-12:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}