/*----------------------------------------
    Gallary  Page
------------------------------------------*/

.gallary-sizer {
	width: 20%;
}
.gallary-item img {
	width: 20%;
}
.slider .indicators {
	z-index: 9999;
}