/*----------------------------------------
    Invoice Page
------------------------------------------*/

.invoice-table {
	padding-top: 40px;
}
.invoice-text {
	padding: 18px 0;
}
.invoice-icon i {
	font-size: 2rem;
}